<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzqing.admin.mapper.system.LoginLogMapper">


    <resultMap id="baseResult" type="loginlog">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="ip" property="ip" />
        <result column="browser" property="browser" />
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="system" property="system" />
    </resultMap>

    <sql id="tableName">
        hw_login_log
    </sql>

</mapper>
