<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzqing.admin.mapper.doc.DocMapper">

    <resultMap id="baseResult" type="doc">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="space_id" property="spaceId" />
        <result column="remark" property="remark" />
        <result column="visit_level" property="visitLevel" />
        <result column="img" property="img" />
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="baseResultDto" type="docdto">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="space_id" property="spaceId" />
        <result column="remark" property="remark" />
        <result column="visit_level" property="visitLevel"/>
        <result column="img" property="img" />
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>

        <result column="createName" property="createName" />
        <result column="privilege" property="userDocPrivilege" />
    </resultMap>


    <select id="selectPageList" resultMap="baseResultDto" parameterType="docDto">
        select
            d.id,
            d.name,
            d.space_id,
            d.remark,
            d.visit_level,
            d.img,
            d.create_by,
            d.create_time,
            d.update_by,
            d.update_time,
            u.name as createName,
            ud.privilege
        from hw_doc d
            left join hw_user u on d.create_by = u.id
            left join hw_user_doc ud on ud.doc_Id = d.id
        where
            ud.user_id = #{docDto.userId}
    </select>


    <select id="selectShowPageByDto" resultMap="baseResultDto" parameterType="docDto">
        select
        d.id,
        d.name,
        d.space_id,
        d.remark,
        d.visit_level,
        d.img,
        d.create_by,
        d.create_time,
        d.update_by,
        d.update_time,
        u.name as createName
        from hw_doc d left join hw_user u on d.create_by = u.id
        <where>
            <if test="docDto.visitLevel != null">
                d.visit_level = #{docDto.visitLevel}
            </if>
            <if test="docDto.spaceId != null and docDto.spaceId != 0">
                AND d.space_id = #{docDto.spaceId}
            </if>
            <if test="docDto.userId != null and docDto.userId != 0">
                OR find_in_set(d.id,(select GROUP_CONCAT(doc_Id) from hw_user_doc where user_id = #{docDto.userId}))
            </if>
        </where>
        order by d.create_time desc
    </select>

    <select id="selectPageBySpaceOrLevel" resultMap="baseResultDto" parameterType="doc">
        select
            d.id,
            d.name,
            d.space_id,
            d.remark,
            d.visit_level,
            d.img,
            d.create_by,
            d.create_time,
            d.update_by,
            d.update_time,
            u.name as createName
        from hw_doc d left join hw_user u on d.create_by = u.id
        <where>
            <if test="doc.visitLevel != null">
                d.visit_level = #{doc.visitLevel}
            </if>
            <if test="doc.spaceId != null and doc.spaceId != 0">
                d.space_id = #{doc.spaceId}
            </if>
        </where>
        order by d.create_time desc
    </select>

    <select id="selectList" resultMap="baseResult" parameterType="doc">
        select
            id,
            name,
            space_id,
            remark,
            visit_level,
            img,
            create_by,
            create_time,
            update_by,
            update_time
        from hw_doc
        <where>
            <if test="visitLevel != null">
                visit_level = #{visitLevel}
            </if>
        </where>

    </select>



</mapper>
