<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzqing.admin.mapper.doc.DocMapper">

    <resultMap id="baseResult" type="doc">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="space_id" property="spaceId" />
        <result column="remark" property="remark" />
        <result column="visit_level" property="visitLevel" />
        <result column="img" property="img" />
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="baseResultDto" type="docdto">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="space_id" property="spaceId" />
        <result column="remark" property="remark" />
        <result column="visit_level" property="visitLevel" />
        <result column="img" property="img" />
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="privilege" property="privilege"/>
    </resultMap>



    <!--     根据用户id，空间id 获取该用户的所有文档-->
    <select id="selectListByID" resultMap="baseResultDto" parameterType="docdto">
        select
            s.id,
            s.name,
            s.space_id,
            s.remark,
            s.visit_level,
            s.create_by,
            s.create_time,
            s.update_by,
            s.update_time,
            u.privilege
        from
            hw_doc s
        LEFT JOIN
            hw_user_doc u ON u.doc_id = s.id
        where
            s.create_by = #{createBy}
            and s.space_id = #{spaceId}
            or find_in_set(s.id, (select doc_id from hw_user_doc where user_id = #{createBy}))
    </select>

    <select id="selectList" resultMap="baseResult" parameterType="doc">
        select
            id,
            name,
            space_id,
            remark,
            visit_level,
            img,
            create_by,
            create_time,
            update_by,
            update_time
        from hw_doc
        <where>
            <if test="visitLevel != null">
                visit_level = #{visitLevel}
            </if>
        </where>

    </select>

    <insert id="insert" parameterType="doc" >
        INSERT INTO hw_doc (
            name,
            space_id,
            remark,
            visit_level,
            img,
            create_by,
            create_time,
            update_by,
            update_time
        ) VALUE (
            #{name},
            #{spaceId},
            #{remark},
            #{visitLevel},
            #{img},
            #{createBy},
            #{createTime},
            #{updateBy},
            #{updateTime}
        )
    </insert>

    <delete id="deletedById" parameterType="string">
        DELETE FROM hw_doc
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="doc">
        UPDATE hw_doc
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="spaceId != null">
                space_id = #{spaceId},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="visitLevel != null and visitLevel != ''">
                visit_level = #{visitLevel},
            </if>
            <if test="img != null and img != ''">
                img = #{img},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
