<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzqing.admin.mapper.space.SpaceMapper">

    <resultMap id="baseResult" type="space">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark" />
        <result column="visit_level" property="visitLevel" />
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="baseResultDto" type="spacedto">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark" />
        <result column="visit_level" property="visitLevel" />
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="privilege" property="privilege"/>
        <result column="createName" property="createName" />
        <result column="updateName" property="updateName" />
    </resultMap>

    <sql id="tableName">
        hw_space
    </sql>

    <select id="selectList" resultMap="baseResult" parameterType="space">
        SELECT
            s.id,
            s.name,
            s.remark,
            s.visit_level,
            s.create_by,
            s.create_time,
            s.update_by,
            s.update_time,
            cu.name as 'createName',
            uu.name as 'updateName'
        FROM
            hw_space s
        left join
            hw_user cu on cu.id = s.create_by
        left join
            hw_user uu on uu.id = s.update_by
        <where>
            <if test="name != null and name != ''">
                s.name like '%${name}%'
            </if>
            <if test="visitLevel != null">
                and s.visit_level = #{visitLevel}
            </if>
        </where>
    </select>

    <!--     根据用户id，获取该用户的所有空间-->
    <select id="selectListByUserId" resultMap="baseResultDto" parameterType="spacedto">
        SELECT
            distinct
            s.id,
            s.name,
            s.remark,
            s.visit_level,
            s.create_by,
            s.create_time,
            s.update_by,
            s.update_time,
            cu.name as 'createName',
            uu.name as 'updateName'
        FROM
        hw_space s
        left join
            hw_user cu on cu.id = s.create_by
        left join
            hw_user uu on uu.id = s.update_by
        LEFT JOIN
            hw_user_space u ON u.space_id = s.id
        where
            s.create_by = #{createBy}
            or find_in_set(s.id, (select space_id from hw_user_space where user_id = #{createBy}))
    </select>

    <insert id="insert" parameterType="space" >
        INSERT INTO
            <include refid="tableName"/>
        (
            name,
            remark,
            visit_level,
            create_by,
            create_time,
            update_by,
            update_time
        ) VALUE (
            #{name},
            #{remark},
            #{visitLevel},
            #{createBy},
            #{createTime},
            #{updateBy},
            #{updateTime}
        )
    </insert>

    <delete id="deletedById" parameterType="string">
        DELETE FROM
            <include refid="tableName"/>
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="space">
        UPDATE
            <include refid="tableName"/>
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="visitLevel != null ">
                visit_level = #{visitLevel},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
