<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzqing.admin.mapper.space.UserSpaceMapper">


    <resultMap id="baseResultDto" type="userspacedto">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="space_id" property="spaceId" />
        <result column="privilege" property="privilege" />
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="expire_time" property="expireTime" />
        <result column="fullName" property="fullName" />
    </resultMap>

    <sql id="tableName">
        hw_user_space
    </sql>

    <select id="selectList" resultMap="baseResultDto" parameterType="userSpace">
        SELECT
            s.id,
            s.user_id,
            s.space_id,
            s.privilege,
            s.create_by,
            s.create_time,
            s.expire_time,
            u.name as fullName
        FROM
            hw_user_space  s
        right join hw_user u on s.user_id = u.id
        where
            s.space_id = #{spaceId}
    </select>

    <select id="selectUserListBySID" resultType="user" parameterType="int" >
        SELECT
            u.id,
            u.name
        FROM
            hw_user u
        where
            u.id not in (select us.user_id from hw_user_space us where us.space_id =  #{spaceId})
    </select>


    <insert id="insert" parameterType="userSpace" >
        INSERT INTO
            <include refid="tableName"/>
        (
            user_id,
            space_id,
            privilege,
            create_by,
            create_time,
            expire_time
        ) VALUE (
            #{userId},
            #{spaceId},
            #{privilege},
            #{createBy},
            #{createTime},
            #{expireTime}
        )
    </insert>

    <delete id="deletedById" parameterType="string">
        DELETE FROM
        <include refid="tableName"/>
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="space">
        UPDATE
        <include refid="tableName"/>
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="privilege != null ">
                privilege = #{privilege},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
