.hzq-wiki-main-width{
    width: 987px;
    margin: 0 auto;
}
.hzq-wiki-height{
    height: calc(100vh - 60px) !important;
}

// 自定义element 抽屉样式
.hzq-drawer{
  .header{
    margin-left: 20px;
  }
  .content{
    display: flex;
    flex-direction: column;
  }
  .content form{
    flex: 1;
    margin: 0 20px;
  }
  .footer{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
}