<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzqing.admin.mapper.article.ArticleTagMapper">

    <insert id="insertForBatch" parameterType="list">
        insert into hw_article_tag
            (article_id,tag_id)
        values
        <foreach collection="articleTags" item="item"  separator=",">
            (
                #{item.articleId},
                #{item.tagId}
            )
        </foreach>
    </insert>


</mapper>
