<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzqing.admin.mapper.article.ArticleMapper">

    <resultMap id="baseResult" type="article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content" />
        <result column="content_html" property="contentHtml" />
        <result column="sequence" property="sequence" />
        <result column="hw_desc" property="hwDesc" />
        <result column="hw_state" property="hwState" />
        <result column="hw_up" property="hwUp" />
        <result column="user_id" property="userId" />
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="columnName">
        id,
        title,
        content,
        content_html,
        sequence,
        hw_desc
    </sql>
    
    <select id="selectPageByStateOrTag" parameterType="articledto" resultMap="baseResult">
        select
            id,
            title,
            sequence,
            hw_desc,
            create_time
        from hw_article
        <where>
            hw_state = #{articledto.hwState}
            <if test="articledto.tagId != null and articledto.tagId != ''">
               and find_in_set(id, (
                    select group_concat(article_id) from hw_article_tag where tag_id = #{articledto.tagId}
                ))
            </if>
        </where>

    </select>

</mapper>
